  
# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively

docs            @pcrespov
test            @pcrespov