name: publish-python-client
on:
  workflow_call:
permissions: read-all

jobs:

  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/osparc_client
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Set up Python environment
        run: |
          make devenv
      - name: Download wheels
        uses: actions/download-artifact@v3
        with:
          name: osparc_python_wheels
          path: osparc_python_wheels/
      - name: Check release
        id: release
        run: |
          source .venv/bin/activate
          version=$(cat osparc_python_wheels/VERSION)
          is_release=$(python scripts/is_semantic_version.py "${version}" --no-raise-result)
          echo "is-release=${is_release}" >> $GITHUB_OUTPUT
          rm osparc_python_wheels/VERSION
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true
          packages-dir: osparc_python_wheels/
      - name: Publish to PyPI
        if: steps.release.outputs.is-release == 'True'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          packages-dir: osparc_python_wheels/
