name: publish-python-client
on:
  workflow_call:
    inputs:
      run_id:
        required: true
        type: string
permissions: read-all

jobs:

  publish-osparc_client:
    name: Publish osparc_client wheel
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/osparc_client
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Set up Python environment
        run: |
          make devenv
      - name: Download wheels
        id: download
        run: |
          source .venv/bin/activate
          repo=${{github.repository}}
          gh run download ${{ inputs.run_id }} --repo=${repo}
          version=$(cat osparc_python_wheels/VERSION)
          is_release=$(python scripts/is_semantic_version.py "${version}" --no-raise-result)
          echo "is-release=${is_release}" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Remove osparc wheel
        run: |
          osparc_wheel=$(ls osparc_python_wheels/osparc-*)
          rm -f ${osparc_wheel}
          rm -f osparc_python_wheels/VERSION
      - name: Publish osparc_client to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true
          packages-dir: osparc_python_wheels/
      - name: Publish osparc_client to PyPI
        if: steps.download.outputs.is-release == 'True'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          packages-dir: osparc_python_wheels/

  publish-osparc:
    name: Publish osparc wheel
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/osparc
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Set up Python environment
        run: |
          make devenv
      - name: Download wheels
        id: download
        run: |
          source .venv/bin/activate
          repo=${{github.repository}}
          gh run download ${{ inputs.run_id }} --repo=${repo}
          version=$(cat osparc_python_wheels/VERSION)
          is_release=$(python scripts/is_semantic_version.py "${version}" --no-raise-result)
          echo "is-release=${is_release}" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Remove osparc_client wheel
        run: |
          osparc_client_wheel=$(ls osparc_python_wheels/osparc_client*)
          rm -f ${osparc_client_wheel}
          rm -f osparc_python_wheels/VERSION
      - name: Publish osparc to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true
          packages-dir: osparc_python_wheels/
      - name: Publish osparc to PyPI
        if: steps.download.outputs.is-release == 'True'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          packages-dir: osparc_python_wheels/
